@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --text-hsl: 0%, 0%, 0%;
    --background-start-hsl: 0%, 0%, 0%;
}

@media (prefers-color-scheme: dark) {
    :root {
        --text-hsl: 0, 0%, 100%;
        --background-hsl: 221, 39%, 11%;
    }
}

body {
    color: hsl(var(--text-hsl));
    background-color: hsl(var(--background-hsl));
}