@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-hsl: 0%, 0%, 0%;
    --background-start-hsl: 0%, 0%, 0%;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-hsl: 0, 0%, 100%;
        --background-hsl: 200, 40%, 10%;
    }
}

body {
    color: hsl(var(--foreground-hsl));
    background-color: hsl(var(--background-hsl));
}